$color: rgb(255, 198, 92);
$color-opacity-yellow: rgba(255, 198, 92, 0.7);
$font: "Visby CF Medium", sans-serif;
$color-opacity-green: rgba(0, 165, 88, 0.5);
$color-opacity-purple: rgba(156, 0, 156, 0.5);